<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://it.jisu8.cn:9999/hfile/dget.file?id=ba1b0c98-9c5a-4c21-a9c7-4b78763d0b00.ipa</string> 
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false />
<key>url</key>
<string>https://it.jisu8.cn:9999/hfile/dget.file?id=f3a75d06-d35d-41a0-8903-883f4d056f70</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false />
<key>url</key>
<string>https://it.jisu8.cn:9999/hfile/dget.file?id=f3a75d06-d35d-41a0-8903-883f4d056f70</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.chinatelecom.anhui.smartwork</string>
<key>bundle-version</key>
 <string>1.0.7.3</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>智慧工作王占莲专用下载链接</string>
</dict>
</dict>
</array>
</dict>
</plist>
